extends ../../../layouts/admin

block head
  title Manage Devices

block neck
  link(rel='stylesheet', href='/views/admin/devices/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/devices/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      form.form-inline.pull-right
        div.input-group
          <!--input.form-control(name='email', type='text', placeholder='email', value!='<%= email %>')-->
          <!--input.form-control(name='hash', type='text', placeholder='hash', value!='<%= hash %>')-->
          <!--button.btn.btn-primary.btn-add(type='button') Add New-->
      h1 Devices

  script(type='text/template', id='tmpl-filters')
    form.filters
      div.row
        div.col-sm-3
          label Email Search
          input.form-control(name='email', type='text')
        div.col-sm-3
          label Hash Search
          input.form-control(name='hash', type='text')
        div.col-sm-3
          label Sort By
          select.form-control(name='sort')
            option(value='_id') id &#9650;
            option(value='-_id') id &#9660;
            option(value='hash') hash &#9650;
            option(value='-hash') hash &#9660;
            option(value='device_login_date') device_login_date &#9650;
            option(value='-device_login_date') device_login_date &#9660;
            option(value='is_device_login') is_device_login &#9650;
            option(value='-is_device_login') is_device_login &#9660;
            option(value='is_webservice_login') is_webservice_login &#9650;
            option(value='-is_webservice_login') is_webservice_login &#9660;
            option(value='last_refresh_date') last_refresh_date &#9650;
            option(value='-last_refresh_date') last_refresh_date &#9660;
            option(value='refresh_token') refresh_token &#9650;
            option(value='-refresh_token') refresh_token &#9660;
            option(value='webservice_login_date') webservice_login_date &#9650;
            option(value='-webservice_login_date') webservice_login_date &#9660;
        div.col-sm-3
          label Limit
          select.form-control(name='limit')
            option(value='10') 10 items
            option(value='20', selected='selected') 20 items
            option(value='50') 50 items
            option(value='100') 100 items

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th email
          th hash
          th access_token
          th device_login_date
          th is_device_login
          th is_webservice_login
          th last_refresh_date
          th refresh_token
          th webservice_login_date
          th id
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td
      input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit')
    td <%- email %>
    td <%- hash %>
    td.nowrap <%= access_token %>
    td.nowrap <%= device_login_date %>
    td.nowrap <%= is_device_login %>
    td.nowrap <%= is_webservice_login %>
    td.nowrap <%= last_refresh_date %>
    td.nowrap <%= refresh_token %>
    td.nowrap <%= webservice_login_date %>
    td.nowrap <%= _id %>

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') no device matched

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) Page <%= pages.current %> of <%= pages.total %>
        button.btn.btn-default(disabled=true) Rows <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') Prev
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>')  Next
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}
